.navbar{
    box-shadow: 0px 12px 10px -5px rgba(0,0,0,.5);
}

.zoom:hover {
    transform: scale(1.15);
    transition-duration: 0.8s;
}

.profile {
    margin: auto;
    width: 400px;
    height: 300px;
}

.card {
    width: 300px;
    margin: auto;
}

.zoom {
    transition-duration: 0.5s
}

body {
    background-color: snow;
    color: black;
}

.navbar {
    background-color: #39003c;
}

a.nav-link:link, a.nav-link:visited, a.nav-link:hover, a.nav-link:active {
    color: snow;
    text-decoration: none;
}

.double-space {
    line-height: 2;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#me {
    width: 200px;
    height: 200px;
    transform: rotate();
}

#logo {
    width: 112px;
    height: 65px;
}

.dtHorizontalVerticalExampleWrapper {
    max-width: 600px;
    margin: 0 auto;
}

#scroll_table th, td {
    white-space: nowrap;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}