.navbar{
    background-color: #39003c;
}

.nav-shadow {
    box-shadow: 0px 12px 10px -5px rgba(0,0,0,.5);
}

.main-nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.dash-item-four {
    width: 24%;
}

.dash-item-four:hover, .dash-item-three:hover {
    background-color: #ff2882;
    transition-duration: 0.3s;
}

.dash-item-four:active, .dash-item-three:active {
    background-color: white;
}

.dash-item-four, .dash-item-three {
    background-color: whitesmoke;
    margin: 0.5%
}

li:hover a.dash-link {
    color: snow;
    transition-duration: 0.2s;
}

.dash-item-three {
    width: 32.33%;
}

.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}

.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
}

.zoom:hover {
    transform: scale(1.15);
    transition-duration: 0.8s;
}

.zoom {
    transition-duration: 0.5s
}

.top-border {
    background-image: linear-gradient(to right, #983cfd, #ff2882);
    padding-top: 5px;
}

.des-stat {
    border-top-style: solid;
    border-top-color: #39003c;
    border-top-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #983cfd;
    border-bottom-width: 5px;
    padding: 5px;
    /* border-top-style: solid;
    border-top-width: 6px;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    border-bottom-color: #39003c;
    border-image: linear-gradient(to right, #983cfd, #39003c);
    border-image-slice: 1; */
    margin-bottom: 5px;
}

.dsc-title:hover {
    text-decoration: underline;
}

.profile {
    margin: auto;
    width: 400px;
    height: 300px;
}

.card {
    width: 300px;
    margin: auto;
}

body {
    background-color: white;
    color: black;
}

a.main-nav-link:link, a.main-nav-link:visited, a.main-nav-link:hover, a.main-nav-link:active {
    color: snow;
    text-decoration: none;
}

a.dash-link:link, a.dash-link:visited, a.dash-link:hover, a.dash-link:active {
    color:black;
    text-decoration: none;
    text-align: center;
}

.double-space {
    line-height: 2;
}

#me {
    width: 200px;
    height: 200px;
    transform: rotate();
}

#logo {
    width: 60px;
    height: 60px;
}

.dtHorizontalVerticalExampleWrapper {
    max-width: 600px;
    margin: 0 auto;
}

#scroll_table th, td {
    white-space: nowrap;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}