{% extends 'base.html' %}
{% block content %}

<!-- The Modal -->
<div class="modal" id="myModal">
<div class="modal-dialog">
    <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title">Data Dictionary</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
        <h4>Statistics</h4>
        <span class="font-weight-bolder">Mean: <p class="font-weight-lighter">The average value of the given data</p></span>
        <span class="font-weight-bolder">Max: <p class="font-weight-lighter">The greatest value in a given set of data points.</p></span>
        <span class="font-weight-bolder">90% CI: <p class="font-weight-lighter">A confidence interval. We can be 90% certain, for the given data category, that the player will score within this range.</p></span>
        <br>
        <h4>Data</h4>
        <span class="font-weight-bolder">Year: <p class="font-weight-lighter">The Premier League season.</p></span>
        <span class="font-weight-bolder">Appearances: <p class="font-weight-lighter">The number of games a player featured in that season.</p></span>
        <span class="font-weight-bolder">Goals: <p class="font-weight-lighter">The number of goals a player scores in a season.</p></span>
        <span class="font-weight-bolder">Goals Per Match: <p class="font-weight-lighter">The proportion of goals the player scored to the number of matches they played that season.</p></span>
        <span class="font-weight-bolder">Assists: <p class="font-weight-lighter">The number of assists a player records in a season.</p></span>
        <span class="font-weight-bolder">Assists Per Match: <p class="font-weight-lighter">The proportion of assists to the number of matches played.</p></span>
        <span class="font-weight-bolder">Goal Contributions: <p class="font-weight-lighter">The total number of goals plus assists recorded by a player in a season.</p></span>
        <span class="font-weight-bolder">Goal Contributions Per Match: <p class="font-weight-lighter">The proportion of goal contribtions to the number of matches played.</p></span>
        <span class="font-weight-bolder">Shots: <p class="font-weight-lighter">The total number of shots taken by a player in a season. This data is not available prior to the 2006/07 season.</p></span>
        <span class="font-weight-bolder">Shots on Target: <p class="font-weight-lighter">The total number of shots that taken that were on goal. This data is not available prior to the 2006/07 season.</p></span>
        <span class="font-weight-bolder">Shot Accuracy: <p class="font-weight-lighter">The percentage of shots a player takes that are on goal. This data is not available prior to the 2006/07 season.</p></span>
        <span class="font-weight-bolder">Shot Conversion Rate: <p class="font-weight-lighter">The percentage of shots a player takes that lead to a goal. This data is not available prior to the 2006/07 season.</p></span>
        <span class="font-weight-bolder">Passes: <p class="font-weight-lighter">The total number of passes made by a player in a season. This data is not available prior to the 2006/07 season.</p></span>
        <span class="font-weight-bolder">Passes Per Match: <p class="font-weight-lighter">The proportion of passes to the number of matches played. This data is not available prior to the 2006/07 season.</p></span>
        <span class="font-weight-bolder">Big Chances Created: <p class="font-weight-lighter">The number of big chances a player created that season. This data is not available prior to the 2010/11 season.</p></span>
        <span class="font-weight-bolder">Total Crosses: <p class="font-weight-lighter">The total number of crosses made by a player in a season. This data is not available prior to the 2006/07 season.</p></span>
        <span class="font-weight-bolder">Cross Accuracy: <p class="font-weight-lighter">The percentage of crosses made by a player that find their target. This data is not available prior to the 2006/07 season.</p></span>
        <span class="font-weight-bolder">Through Balls: <p class="font-weight-lighter">The total number of through balls made by a player. This data is not available prior to the 2007/08 season.</p></span>
        <span class="font-weight-bolder">Accurate Long Balls: <p class="font-weight-lighter">The total number of accurate long balls made by a player. This data is not available prior to the 2006/07 season.</p></span>
        <span class="font-weight-bolder">Tackles: <p class="font-weight-lighter">The total number of tackles a player makes in a season. This data is not available prior to the 2006/07 season.</p></span>
        <span class="font-weight-bolder">Tackle Success: <p class="font-weight-lighter">The percentage of tackles a player makes that are successful. This data is not available prior to the 2006/07 season.</p></span>
        <span class="font-weight-bolder">Shots Blocked: <p class="font-weight-lighter">The total number of shots blocked by a player. This data is not available prior to the 2006/07 season.</p></span>
        <span class="font-weight-bolder">Interceptions: <p class="font-weight-lighter">The total number of interceptions made by a player. This data is not available prior to the 2006/07 season.</p></span>
        <span class="font-weight-bolder">Clearances: <p class="font-weight-lighter">The total number of clearances made by a player. This data is not available prior to the 2006/07 season.</p></span>
        <span class="font-weight-bolder">Recoveries: <p class="font-weight-lighter">The total number of recoveries made by a player. This data is not available prior to the 2007/08 season.</p></span>
        <span class="font-weight-bolder">Duels Won: <p class="font-weight-lighter">The total number of 1 on 1 duels won by a player. This data is not available prior to the 2006/07 season.</p></span>
        <span class="font-weight-bolder">Duels Lost: <p class="font-weight-lighter">The total number of 1 on 1 duels lost by a player. This data is not available prior to the 2006/07 season.</p></span>
        <span class="font-weight-bolder">Successful 50/50s: <p class="font-weight-lighter">The total number of 50/50 balls won by a player. This data is not available prior to the 2006/07 season.</p></span>
        <span class="font-weight-bolder">Aeiral Battles Won: <p class="font-weight-lighter">The number of headers won by a player. This data is not available prior to the 2006/07 season.</p></span>
        <span class="font-weight-bolder">Aeiral Battles Lost: <p class="font-weight-lighter">The number of headers lost by a player. This data is not available prior to the 2006/07 season.</p></span>
        <span class="font-weight-bolder">Errors Leading to Goal: <p class="font-weight-lighter">The number of goals conceeded as a direct result of an error made by a player.</p></span>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
    </div>

    </div>
</div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="jumbotron shadow">
                <div class="row">
                    <div class="col-lg-5">
                        <img class="img-fluid rounded shadow profile" src="{{ url_for('static', filename=img) }}">
                    </div>
                    <div class="col-lg-7">
                        <h1 class="display-3 text-center">{{title}}</h1>
                        <hr>
                        <p class="font-weight-light text-center">Appearances: {{appearances}} | Wins: {{wins}} | Losses: {{losses}}</p>
                        <p class="font-weight-light text-center">{{accolades}}</p>
                        <blockquote class="blockquote text-center">
                            <p class="mb-0 small">"{{quote}}"</p>
                            <footer class="blockquote-footer"><cite title="Source Title">{{said_it}}</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <p class="font-weight-light text-justified">* Prior to the 2006/07 season. The Premier League only collected
                 very limited data. For this reason attack data prior to 2006/07 is limited, and team play and defensive data
                 only becomes available after this season. For more information all data and statistics included on this website
                 see our Data Dictionary.
            </p>
            <p class="font-weight-light text-justified">Click the button below to download the raw data file containing all
                 of the data used for this profile in csv format.
            </p>
            <a class="btn btn-dark" href="{{ url_for('download', player=player) }}">Export Data <i class="fas fa-download"></i></a>
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal">Data Dictionary  <i class="fas fa-book"></i></button>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row" style="padding-bottom: 80px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h1 class="text-center display-4">Attacking Data</h1>
            <hr>
            <br>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg">
                    <div class="des-stat">
                        <h2 style="height: 60px;"><small>Goals</small></h2>
                        <br>
                        <p><span class="font-weight-bold">Mean:</span> {{desc_stats.avg_goals}}</p>
                        <p><span class="font-weight-bold">Max:</span> {{desc_stats.max_goals}}</p>
                        <p><span class="font-weight-bold">90% CI:</span> {{desc_stats.ci_goals}}</p>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="des-stat">
                        <h2 style="height: 60px;"><small>Assists</small></h2>
                        <br>
                        <p><span class="font-weight-bold">Mean:</span> {{desc_stats.avg_assists}}</p>
                        <p><span class="font-weight-bold">Max:</span> {{desc_stats.max_assists}}</p>
                        <p><span class="font-weight-bold">90% CI:</span> {{desc_stats.ci_assists}}</p>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="des-stat">
                        <h2 style="height: 60px;"><small>Goal Contributions</small></h2>
                        <br>
                        <p><span class="font-weight-bold">Mean:</span> {{desc_stats.avg_gc}}</p>
                        <p><span class="font-weight-bold">Max:</span> {{desc_stats.max_gc}}</p>
                        <p><span class="font-weight-bold">90% CI:</span> {{desc_stats.ci_gc}}</p>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="des-stat">
                        <h2 style="height: 60px;"><small>Conversion Rate</small></h2>
                        <br>
                        <p><span class="font-weight-bold">Mean:</span> {{desc_stats.avg_cr}}%</p>
                        <p><span class="font-weight-bold">Max:</span> {{desc_stats.max_cr}}%</p>
                        <p><span class="font-weight-bold">90% CI:</span> {{desc_stats.ci_cr}}</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <br>
            <div class="shadow">
                <table class="table table-striped table-bordered table-hover scroll_table text-center" cellspacing="0" width="100%">
                    <thead class="thead-dark">
                        <tr>
                            <th>Year</th>
                            <th>Appearances</th>
                            <th>Goals</th>
                            <th>Goals/Match</th>
                            <th>Assists</th>
                            <th>Assists/Match</th>
                            <th>Goal Contributions</th>
                            <th>Goal Contributions/Match</th>
                            <th>Shots</th>
                            <th nowrap>Shots on Target</th>
                            <th>Shot Accuracy</th>
                            <th>Shot Conversion Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in attack_data %}
                        <tr>
                            <td>{{row.year}}</td>
                            <td>{{row.appearances}}</td>
                            <td>{{row.goals}}</td>
                            <td>{{row.goals_per_game}}</td>
                            <td>{{row.goal_assist}}</td>
                            <td>{{row.assists_per_match}}</td>
                            <td>{{row.goal_contributions}}</td>
                            <td>{{row.gc_per_match}}</td>
                            <td>{{row.total_scoring_att}}</td>
                            <td>{{row.ontarget_scoring_att}}</td>
                            <td>{{row.shooting_accuracy}}</td>
                            <td>{{row.conversion_rate}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <br>
    <br>
    <div class="row" style="padding-bottom: 80px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h1 class="display-4 text-center">Team Play Data</h1>
            <hr>
            <br>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg">
                    <div class="des-stat">
                        <h2 style="height: 60px;"><small>Passes Per Match</small></h2>
                        <br>
                        <p><span class="font-weight-bold">Mean:</span> {{desc_stats.avg_ppg}}</p>
                        <p><span class="font-weight-bold">Max:</span> {{desc_stats.max_ppg}}</p>
                        <p><span class="font-weight-bold">90% CI:</span> {{desc_stats.ci_ppg}}</p>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="des-stat">
                        <h2 style="height: 60px;"><small>Cross Accuracy</small></h2>
                        <br>
                        <p><span class="font-weight-bold">Mean:</span> {{desc_stats.avg_ca}}%</p>
                        <p><span class="font-weight-bold">Max:</span> {{desc_stats.max_ca}}%</p>
                        <p><span class="font-weight-bold">90% CI:</span> {{desc_stats.ci_ca}}</p>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="des-stat">
                        <h2 style="height: 60px;"><small>Through Balls</small></h2>
                        <br>
                        <p><span class="font-weight-bold">Mean:</span> {{desc_stats.avg_through}}</p>
                        <p><span class="font-weight-bold">Max:</span> {{desc_stats.max_through}}</p>
                        <p><span class="font-weight-bold">90% CI:</span> {{desc_stats.ci_through}}</p>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="des-stat">
                        <h2 style="height: 60px;"><small>Accurate Long Balls</small></h2>
                        <br>
                        <p><span class="font-weight-bold">Mean:</span> {{desc_stats.avg_long}}</p>
                        <p><span class="font-weight-bold">Max:</span> {{desc_stats.max_long}}</p>
                        <p><span class="font-weight-bold">90% CI:</span> {{desc_stats.ci_long}}</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <br>
            <div class="shadow">
                <table class="table table-striped table-bordered table-hover scroll_table text-center" cellspacing="0" width="100%">
                    <thead class="thead-dark">
                        <tr>
                            <th>Year</th>
                            <th>Appearances</th>
                            <th>Passes</th>
                            <th>Passes/Match</th>
                            <th nowrap>Big Chances Created</th>
                            <th>Total Crosses</th>
                            <th>Cross Accuracy</th>
                            <th>Through Balls</th>
                            <th nowrap>Accurate Long Balls</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in team_play_data %}
                        <tr>
                            <td>{{row.year}}</td>
                            <td>{{row.appearances}}</td>
                            <td>{{row.total_pass}}</td>
                            <td>{{row.total_pass_per_game}}</td>
                            <td>{{row.big_chance_created}}</td>
                            <td>{{row.total_cross}}</td>
                            <td>{{row.cross_accuracy}}</td>
                            <td>{{row.total_through_ball}}</td>
                            <td>{{row.accurate_long_balls}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <br>
    <br>
    <div class="row" style="padding-bottom: 80px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h1 class="display-4 text-center">Defensive Data</h1>
            <hr>
            <br>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg">
                    <div class="des-stat">
                        <h2 style="height: 60px;"><small>Tackles</small></h2>
                        <br>
                        <p><span class="font-weight-bold">Mean:</span> {{desc_stats.avg_tackles}}</p>
                        <p><span class="font-weight-bold">Max:</span> {{desc_stats.max_tackles}}</p>
                        <p><span class="font-weight-bold">90% CI:</span> {{desc_stats.ci_tackles}}</p>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="des-stat">
                        <h2 style="height: 60px;"><small>Interceptions</small></h2>
                        <br>
                        <p><span class="font-weight-bold">Mean:</span> {{desc_stats.avg_int}}</p>
                        <p><span class="font-weight-bold">Max:</span> {{desc_stats.max_int}}</p>
                        <p><span class="font-weight-bold">90% CI:</span> {{desc_stats.ci_int}}</p>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="des-stat">
                        <h2 style="height: 60px;"><small>Clearances</small></h2>
                        <br>
                        <p><span class="font-weight-bold">Mean:</span> {{desc_stats.avg_clear}}</p>
                        <p><span class="font-weight-bold">Max:</span> {{desc_stats.max_clear}}</p>
                        <p><span class="font-weight-bold">90% CI:</span> {{desc_stats.ci_clear}}</p>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="des-stat">
                        <h2 style="height: 60px;"><small>Recoveries</small></h2>
                        <br>
                        <p><span class="font-weight-bold">Mean:</span> {{desc_stats.avg_rec}}</p>
                        <p><span class="font-weight-bold">Max:</span> {{desc_stats.max_rec}}</p>
                        <p><span class="font-weight-bold">90% CI:</span> {{desc_stats.ci_rec}}</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <br>
            <div class="shadow">
                <table class="table table-striped table-bordered table-hover scroll_table text-center" cellspacing="0" width="100%">
                    <thead class="thead-dark">
                        <tr>
                            <th>Year</th>
                            <th>Appearances</th>
                            <th>Tackles</th>
                            <th nowrap>Tackle Success Rate</th>
                            <th>Shots Blocked</th>
                            <th>Interceptions</th>
                            <th>Clearances</th>
                            <th>Recoveries</th>
                            <th>Duels Won</th>
                            <th>Duels Lost</th>
                            <th>Successful 50/50s</th>
                            <th nowrap>Aerial Battles Won</th>
                            <th nowrap>Aeiral Battles Lost</th>
                            <th nowrap>Errors Leading to Goals</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in defensive_data %}
                        <tr>
                            <td>{{row.year}}</td>
                            <td>{{row.appearances}}</td>
                            <td>{{row.total_tackle}}</td>
                            <td>{{row.tackle_success}}</td>
                            <td>{{row.blocked_scoring_att}}</td>
                            <td>{{row.interception}}</td>
                            <td>{{row.total_clearance}}</td>
                            <td>{{row.ball_recovery}}</td>
                            <td>{{row.duel_won}}</td>
                            <td>{{row.duel_lost}}</td>
                            <td>{{row.won_contest}}</td>
                            <td>{{row.aerial_won}}</td>
                            <td>{{row.aerial_lost}}</td>
                            <td>{{row.error_lead_to_goal}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
{% endblock %}