{% extends 'base.html' %}
<!-- 
{% block head %}
{{resources}}
{% endblock %} -->

{% block content %}
<div class="contianer-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="jumbotron shadow">
                <div>
                    <h1 class="display-4">Data Visualization Dashboard</h1>
                    <hr>
                    <p>Here some of the key data fields are presented visually using various graphs and plots to allow for better analysis and player comparison</p>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <p class="font-weight-light text-justified">* Prior to the 2006/07 season. The Premier League only collected
                very limited data. For this reason attack data prior to 2006/07 is limited, and team play and defensive data
                only becomes available after this season.
            </p>
            <p class="font-weight-light text-justified">* In the graphs below, the dot size is proportional to the number of appearances the player made that season.</p>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row" style="padding-bottom: 80px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h1 class="text-center display-4">Attacking Data</h1>
            <hr>
            <br>
            <ul class="nav nav-tabs">
                <li class="nav-item dash-item-four">
                    <a class="nav-link dash-link active" data-toggle="tab" href="#goals">Goals</a>
                </li>
                <li class="nav-item dash-item-four">
                    <a class="nav-link dash-link" data-toggle="tab" href="#assists">Assists</a>
                </li>
                <li class="nav-item dash-item-four">
                    <a class="nav-link dash-link" data-toggle="tab" href="#gc">Goal Contributions</a>
                </li>
                <li class="nav-item dash-item-four">
                    <a class="nav-link dash-link" data-toggle="tab" href="#shots">Total Shots & Conversion Rate</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane container active" id="goals"> 
                    <br>
                    {{script_goals}}
                </div>
                <div class="tab-pane container fade" id="assists">
                    <br>
                    {{script_assists}}
                </div>
                <div class="tab-pane container fade" id="gc">
                    <br>
                    {{script_gc}}
                </div>
                <div class="tab-pane container fade" id="shots">
                    <br>
                    {{script_shots_cr}}
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <br>
    <br>
    <div class="row" style="padding-bottom: 80px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h1 class="text-center display-4">Team Play Data</h1>
            <hr>
            <ul class="nav nav-tabs">
                <li class="nav-item dash-item-two">
                    <a class="nav-link dash-link active" data-toggle="tab" href="#through">Through Balls</a>
                </li>
                <li class="nav-item dash-item-two">
                    <a class="nav-link dash-link" data-toggle="tab" href="#long">Long Balls</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane container active" id="through">
                    <br>
                    {{script_through}}
                </div>
                <div class="tab-pane container fade" id="long">
                    <br>
                    {{script_long}}
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <br>
    <br>    
    <div class="row" style="padding-bottom: 80px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h1 class="text-center display-4">Defensive Data</h1>
            <hr>
            <ul class="nav nav-tabs">
                <li class="nav-item dash-item-four">
                    <a class="nav-link dash-link active" data-toggle="tab" href="#recover">Recoveries</a>
                </li>
                <li class="nav-item dash-item-four">
                    <a class="nav-link dash-link" data-toggle="tab" href="#int">Interceptions</a>
                </li>
                <li class="nav-item dash-item-four">
                    <a class="nav-link dash-link" data-toggle="tab" href="#tackles">Tackles & Tackle Success</a>
                </li>
                <li class="nav-item dash-item-four">
                    <a class="nav-link dash-link" data-toggle="tab" href="#duels">Duels Won/Lost</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane container active" id="recover">
                    <br>
                    {{script_recover}}
                </div>
                <div class="tab-pane container fade" id="int">
                    <br>
                    {{script_intercept}}
                </div>
                <div class="tab-pane container fade" id="tackles">
                    <br>
                    {{script_tackle_success}}
                </div>
                <div class="tab-pane container fade" id="duels">
                    <br>
                    {{script_duels}}
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
{% endblock %}